.form-create-product{
    .list-preview-image{
        display: flex;
    }
    .image-review{
        width: 200px;
        height: 150px;
        border:1px dashed #ccc;
        margin-top: 10px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            padding: 5px;
            &:hover{
                transform: scale(2);
            }
        }
    }
}
.text_error{
    color: red;
}