.form-create-product{
    .upload-and-show{
        .upload-image{
            margin-left: 0;
        }
        button{
            border: 0;
            padding: 12px;
            margin: 0 10px;
            cursor: pointer;
        }
        .list-image-upload{

            display: flex;
            img {
                min-height: 110px;
                min-width: 110px;
                object-fit: contain;

            }
        }
    }
}