.btn-auth{
    width: 100%;
    text-align: center;
    button{
        margin-top: 20px;
    }
}
.dialog-component{
    h2{
        text-align: center;
    }
}
.change-auth{
    margin-top: 20px;
    text-align: center;
    button{
        background-color: rgb(126, 93, 62);
        padding: 5px 20px;
        color: white;
    }
}